{% extends "base.html" %}
{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Wanderlust</h1>
  <p class="lead">Explore the world. Share your experiences. Embrace your Wanderlust.</p>
  <hr class="my-4">
  <p>
    We all spend a lot of time planning our travels.<br/>
    Wanderlust helps you discover what others have loved to experience, free of marketing or advertisement.<br/>
    Learn from others, make your plans, and pay it forward by sharing your trips with the Wanderlust network.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="get-started" role="button">Sign up</a>
    <a class="btn btn-primary btn-lg" href="discover" role="button">Browse trips</a>
  </p>
</div>
{% endblock %}
